In [1]:
import pandas as pd 
df = pd.read_csv('listings_toronto.csv', sep =';')

In [2]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'listing_url', 'scrape_id', 'last_scraped',
       'source', 'description', 'neighborhood_overview', 'picture_url',
       'host_url', 'host_since', 'host_location', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'property_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'calendar_last_scraped', 'number_of_reviews_l30d', 'first_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object')

In [3]:
df['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Shared room', 'Hotel room'],
      dtype=object)

In [4]:
from pycaret.regression import *

In [5]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'listing_url', 'scrape_id', 'last_scraped',
       'source', 'description', 'neighborhood_overview', 'picture_url',
       'host_url', 'host_since', 'host_location', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'property_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'calendar_last_scraped', 'number_of_reviews_l30d', 'first_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object')

In [6]:
df_pred = df.copy ()
df_pred_new = df_pred[["neighbourhood","accommodates", "property_type", "room_type", "price", "minimum_nights", "maximum_nights"]]

In [7]:
setup = setup(df_pred_new, target = 'price')

In [14]:
best = compare_models()
print(best)

ElasticNet(random_state=1681)

In [11]:
results = pull()
print(results)

                                    Model       MAE          MSE      RMSE  \
en                            Elastic Net   99.1961  124946.9714  333.1203
lasso                    Lasso Regression   99.8077  124898.4826  333.1333
llar         Lasso Least Angle Regression   99.8074  124898.4484  333.1332
br                         Bayesian Ridge  100.0189  124923.5102  333.1911
lr                      Linear Regression  100.3334  124968.2167  333.2912
ridge                    Ridge Regression  100.3313  124967.8924  333.2905
lar                Least Angle Regression  100.3392  124969.3545  333.2930
huber                     Huber Regressor   86.8399  127184.6235  336.2940
lightgbm  Light Gradient Boosting Machine   93.0220  127533.5512  338.7906
omp           Orthogonal Matching Pursuit  111.1050  130700.9160  342.7269
gbr           Gradient Boosting Regressor   92.4853  134406.4150  347.9917
dummy                     Dummy Regressor  128.7941  136372.5436  351.4298
par          Passive Aggressive Regressor  150.6116  143444.8733  361.2748
knn                 K Neighbors Regressor  102.2304  147603.6038  371.0967
rf                Random Forest Regressor   98.4948  149855.6679  375.2081
et                  Extra Trees Regressor  100.7679  162731.2799  392.0061
ada                    AdaBoost Regressor  166.8532  236584.9896  479.5842
dt                Decision Tree Regressor  116.5700  263180.1636  500.0485

              R2   RMSLE    MAPE  TT (Sec)
en        0.1202  0.6864  0.6214     0.076
lasso     0.1196  0.6936  0.6269     0.076
llar      0.1196  0.6937  0.6269     0.072
br        0.1191  0.6963  0.6293     0.077
lr        0.1184  0.7038  0.6327     1.377
ridge     0.1184  0.7037  0.6327     0.075
lar       0.1184  0.7037  0.6328     0.077
huber     0.1026  0.5547  0.4264     0.187
lightgbm  0.0765  0.5723  0.5381     0.252
omp       0.0568  0.6670  0.7217     0.073
gbr      -0.0007  0.5552  0.5360     0.523
dummy    -0.0013  0.8306  1.0657     0.100
par      -0.0717  0.9289  1.2320     0.081
knn      -0.1674  0.6089  0.5897     0.098
rf       -0.2327  0.5708  0.5607     1.048
et       -0.4139  0.5838  0.5603     0.960
ada      -1.2081  0.8646  1.4212     0.171
dt       -1.5152  0.6349  0.6475     0.080

In [7]:
huber = create_model('huber')

Initiated  . . . . . . . . . . . . . . . . . .          21:55:54
Status     . . . . . . . . . . . . . . . . . .  Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .   Huber Regressor

In [8]:
huber=  tune_model(huber)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [9]:
evaluate_model(huber)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [10]:
final_best = finalize_model(huber)

In [11]:
save_model(huber, 'ml_airbnb') #se guarda un archivo que es el modelo y ese archivo se usa para hacer predicciones

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['accommodates', 'minimum_nights',
                                              'maximum_nights'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['neighbourhood', 'property_type',
                                              'room_type'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  Transfo...r(include=['neighbourhood', 'room_type'],
                                     transformer=OneHotEncoder(cols=['neighbourhood',
                                                                     'room_type'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['property_type'],
                                     transformer=TargetEncoder(cols=['property_type'],
                                                               handle_missing='return_nan'))),
                 ('trained_model', HuberRegressor(alpha=0.3, epsilon=1.9))]),
 'ml_airbnb.pkl')